# DSML Project

# Name: Shravani Kiran Sonawane
# Class: SE               
# Roll No: 22434

# Problem Statement:

# RESEARCH ON PSYCOLOGICAL EFFECTS OF COVID19 AND     CLASSIFICATION

## The dataset was collected with the help of Google Forms. The data contains answers to various questions provided by people. Most of the questions in the form were provided as multiple choice to avoid any case sensitive issues. 
## Objective: Classification of individuals based on lifestyle changes Let's consider that a person has significantly changed their lifestyle if they have experienced an increase or decrease of more than 0.5 in at least one of the following variables: prod_inc, sleep_bal, new_skill, fam_connect, relaxed, and self_time. Create a new binary variable named lifestyle_change where 1 represents a significant lifestyle change and 0 represents no significant lifestyle change.
## Write a full research paper with detailed description.

# Importing

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
plt.style.use(style='ggplot')
%matplotlib inline

In [3]:
df=pd.read_csv('psyco.csv')

In [4]:
df.head()

,age,gender,occupation,line_of_work,time_bp,time_dp,travel_time,easeof_online,home_env,prod_inc,sleep_bal,new_skill,fam_connect,relaxed,self_time,like_hw,dislike_hw,prefer,certaindays_hw,Unnamed: 19,time_bp.1,travel+work
0,19-25,Male,Student in College,NaN,7,5,0.5,3,3,0.0,0.0,0.5,1.0,-0.5,-0.5,100,1,Complete Physical Attendance,Yes,NaN,7,NaN
1,Dec-18,Male,Student in School,NaN,7,11,0.5,4,2,-0.5,0.5,-1.0,1.0,1.0,1.0,1111,1110,Complete Physical Attendance,No,NaN,7,NaN
2,19-25,Male,Student in College,NaN,7,7,1.5,2,2,1.0,0.0,0.5,0.5,0.5,0.5,1100,111,Complete Physical Attendance,Yes,NaN,7,NaN
3,19-25,Male,Student in College,NaN,7,7,1.5,3,1,0.0,1.0,0.5,0.0,-1.0,-0.5,100,1111,Complete Physical Attendance,Yes,NaN,7,NaN
4,19-25,Female,Student in College,NaN,7,7,1.5,2,2,0.0,0.0,0.0,0.0,0.5,0.0,1010,1000,Complete Physical Attendance,Yes,NaN,7,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175 entries, 0 to 1174
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1175 non-null   object
 1   gender          1175 non-null   object
 2   occupation      1175 non-null   object
 3   line_of_work    479 non-null    object
 4   time_bp         1175 non-null   int64
 5   time_dp         1175 non-null   int64
 6   travel_time     1175 non-null   float64
 7   easeof_online   1175 non-null   int64
 8   home_env        1175 non-null   int64
 9   prod_inc        1175 non-null   float64
 10  sleep_bal       1175 non-null   float64
 11  new_skill       1175 non-null   float64
 12  fam_connect     1175 non-null   float64
 13  relaxed         1175 non-null   float64
 14  self_time       1175 non-null   float64
 15  like_hw         1175 non-null   int64
 16  dislike_hw      1175 non-null   int64
 17  prefer          1175 non-null   object
 18  certaindays_hw  1175 non-null   object
 19  Unnamed: 19     0 non-null      float64
 20  time_bp.1       1175 non-null   int64
 21  travel+work     0 non-null      float64
dtypes: float64(9), int64(7), object(6)
memory usage: 202.1+ KB

*** Drop the unnecessary columns**

In [6]:
df=df.drop(['Unnamed: 19','time_bp.1','travel+work'],axis=1)

In [7]:
threshold = 0.5

In [8]:

df['lifestyle_change'] = ((df['prod_inc'].abs() > threshold) |
                          (df['sleep_bal'].abs() > threshold) |
                          (df['new_skill'].abs() > threshold) |
                          (df['fam_connect'].abs() > threshold) |
                          (df['relaxed'].abs() > threshold) |
                          (df['self_time'].abs() > threshold)).astype(int)

In [9]:
print(df)

         age  gender            occupation line_of_work  time_bp  time_dp  \
0      19-25    Male    Student in College          NaN        7        5
1     Dec-18    Male     Student in School          NaN        7       11
2      19-25    Male    Student in College          NaN        7        7
3      19-25    Male    Student in College          NaN        7        7
4      19-25  Female    Student in College          NaN        7        7
...      ...     ...                   ...          ...      ...      ...
1170   40-50  Female          Entrepreneur          NaN        9        9
1171   26-32  Female             Homemaker          NaN        5       12
1172   26-32    Male  Working Professional  Engineering        9       11
1173   26-32    Male  Working Professional  Engineering       11       12
1174   40-50    Male  Working Professional  Engineering        5        5

      travel_time  easeof_online  home_env  prod_inc  sleep_bal  new_skill  \
0             0.5              3         3       0.0        0.0        0.5
1             0.5              4         2      -0.5        0.5       -1.0
2             1.5              2         2       1.0        0.0        0.5
3             1.5              3         1       0.0        1.0        0.5
4             1.5              2         2       0.0        0.0        0.0
...           ...            ...       ...       ...        ...        ...
1170          0.5              2         1       0.5       -0.5       -0.5
1171          0.5              3         5      -0.5       -1.0       -0.5
1172          0.5              3         2       0.5        0.5        0.5
1173          1.5              2         2       0.0        0.0        0.0
1174          0.5              2         2       0.5       -0.5        0.5

      fam_connect  relaxed  self_time  like_hw  dislike_hw  \
0             1.0     -0.5       -0.5      100           1
1             1.0      1.0        1.0     1111        1110
2             0.5      0.5        0.5     1100         111
3             0.0     -1.0       -0.5      100        1111
4             0.0      0.5        0.0     1010        1000
...           ...      ...        ...      ...         ...
1170          0.5      0.0        0.0       10           1
1171          0.0     -0.5       -0.5      100         111
1172          0.5      0.0        0.0     1111         110
1173         -1.0      0.0       -0.5     1111        1100
1174          0.5      0.5        0.5     1100         101

                            prefer certaindays_hw  lifestyle_change
0     Complete Physical Attendance            Yes                 1
1     Complete Physical Attendance             No                 1
2     Complete Physical Attendance            Yes                 1
3     Complete Physical Attendance            Yes                 1
4     Complete Physical Attendance            Yes                 0
...                            ...            ...               ...
1170  Complete Physical Attendance            Yes                 0
1171  Complete Physical Attendance          Maybe                 1
1172  Complete Physical Attendance          Maybe                 0
1173  Complete Physical Attendance            Yes                 1
1174          Work/study from home            Yes                 0

[1175 rows x 20 columns]

In [10]:
df.lifestyle_change

0       1
1       1
2       1
3       1
4       0
       ..
1170    0
1171    1
1172    0
1173    1
1174    0
Name: lifestyle_change, Length: 1175, dtype: int32